@model IEnumerable<Lecture.Models.Person>

@{
    ViewBag.Title = "Index";
}
<div id="mainDiv">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div>

        @*        @using (Html.BeginForm("Index", "Person", "GET")) *@
        @using (Ajax.BeginForm("Index", new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "resultTable"
        }))
        {
            <input type="text" id="search" name="search" placeholder="Enter Name to search" />
            <button type="submit">Search</button>
            @TempData["SearchString"]
        }
    </div>
    <div id="resultTable">

        @Html.Partial("_Index", Model)

    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="CustomerList" class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

@section timenow {
    Current time: @(DateTime.Now.ToString(@"MM\/dd\/yyyy HH:mm"))

}
